@import '../../style/color';

.login {
  align-items: center;
  background: $white;
  border-radius: 12px;
  box-shadow: 0 0 6px #00000024;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 30px;
  width: 340px;
}

.login__title {
  margin: 0 0 40px;
}

.login__button {
  color: $blue;
  font-size: .786rem;
  font-weight: 500;
  margin-top: 14px;
}
