@import '../../style/color';

.input-wrapper {
  padding: 10px 20px;
  position: relative;
}

.input-field {
  font-family: 'Inter';
  border: 0;
  border-bottom: 1px solid $light-blue;
  font-size: 13px;
  line-height: 13px;
  padding: 7px 0;
  width: 100%;
}

.input-field:focus {
  outline: none;
}
