@import "../../style/color";

.button {
  background: $light-blue;
  border: 0;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  font-family: Inter, serif;
  font-size: 13px;
  line-height: 13px;
  padding: 12px;
}

.button_no-background {
  background-color: transparent;
  color: $light-blue;
}
