@import '../../style/color';

.main-button {
  background: $light-blue;
  border: 0;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 13px;
  line-height: 13px;
  padding: 12px;
}
