@import "../../style/color";

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.user-info-wrapper:not(:last-child) {
  border-bottom: 1px solid $separator-color;
}

.user-info-data {
  color: $gray-text;
  border: none;
  text-align: right;
}
