@import "../../style/color";

.chat-container {
  display: flex;
  flex-direction: row;
}

.chat-sidebar {
  background: $sidebar-background;
  border-right: 1px solid $separator-color;
  height: 100vh;
  padding: 0 10px;
  width: 310px;
}

.sidebar-profile {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.sidebar-profile_link {
  color: $gray-text;
  font-size: 12px;
  line-height: 12px;
}

.sidebar-search input:focus {
  outline: none;
}

.chat-list {
  border-top: 1px solid $separator-color;
  margin-top: 14px;
}

.chats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.link-wrapper {
  border-bottom: 1px solid $separator-color;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.message-form {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 15px 5px 0;
  width: 100%;
}

.message-form-paperclip {
  margin-right: 10px;
}

.message-form-button {
  background: $light-blue;
  border: 0;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  width: 32px;
}
