@import "../../style/color";

.profile-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.profile-avatar {
  background: $light-gray;
  border-radius: 50%;
  height: 137px;
  width: 137px;
}

.profile-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 20px;
}

.profile-data {
  margin-top: 50px;
  width: 510px;
}

.profile-data-item {
  font-size: 13px;
  line-height: 13px;
}

.profile-data-item:not(:last-child) {
  border-bottom: 1px solid $separator-color;
}

.profile-actions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.profile-actions_item {
  font-size: 13px;
  line-height: 13px;
  padding: 10px 0;
  text-align: left;
  width: 100%;
}

.profile-actions_item:not(:last-child) {
  border-bottom: 1px solid $separator-color;
}

.profile-actions_item:last-child {
  color: $red;
}
