extends ../../main
include ../../components/button/button
include ../../components/header/header

block nav
    +header("500")

block content
    section.error-page
        div.error-page__content
            h1.title 500
            h3.sub-title Мы уже фиксим
            +Link('Назад к чатам')(href='../chat/chat.pug')

append scripts
    script(src="./500.js" type='module')
