<div class='chat-header'>
  <div class='chat-header__nicknames'>
    <i class="fa-solid fa-circle fa-2xl"></i>
    <p class='chat-header__text'>{{name}}</p>
  </div>
  <div class='chat-header__button'>
    <button class="fa-solid fa-ellipsis-vertical fa-xl"></button>
  </div>
</div>
