@import '../../style/color';

.registration {
  align-items: center;
  background: $white;
  border-radius: .857rem;
  box-shadow: 0 0 6px #00000024;
  display: flex;
  flex-direction: column;
  margin: 3.571rem auto;
  padding: 30px;
  width: 340px;
}

.registration__title {
  margin: 0 0 2.857rem;
}

.registration__button {
  color: $blue;
  font-size: .786rem;
  font-weight: 500;
  margin-top: 1rem;
}

.registration__login {
  margin-top: 14px;
}
