block nav
    header
        nav.nav__wrapper
            ul.nav__list
                li.nav__item
                    a(href='pages/chat/chat') Chat

                li.nav__item
                    a(href='pages/profile/profile') Profile

                li.nav__item
                    a(href=`pages/login`) Login

                li.nav__item
                    a(href='pages/registration/registration') Registration

                li.nav__item
                    a(href='pages/login/login') 500

                li.nav__item
                    a(href='pages/login/login') 404
