@import "../../style/color";

.chat-message {
  background-color: $chat;
  border-radius: 10px;
  position: relative;
  width: 40%;
  margin-bottom: 10px;
  padding: 11px;
}

.chat-message__text {
  font-size: .857rem;
}

.chat-message__time {
  right: 10px;
  bottom: 10px;
  position: absolute;
  font-size: .643rem;
  color: $gray-text;
}
