@import '../../style/color';

.chat-preview {
  align-items: flex-start;
  border-bottom: 1px solid $separator-color;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 12px 0;
}

.chat-preview:hover {
  background-color: $chats-hover;
  cursor: pointer;
}

.chat-preview__avatar {
  background: $light-gray;
  border-radius: 50%;
  height: 47px;
  margin-right: 10px;
  width: 47px;
}

.chat-preview__name {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

.chat-preview__text {
  color: $gray-text;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
}

.chat-preview__side-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.chat-preview__time {
  color: $gray-text;
  font-size: 9px;
  line-height: 13px;
}

.chat-preview__unread {
  align-items: center;
  background: $light-blue;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.chat-preview__unread-number {
  color: $white;
  font-size: 11px;
  line-height: 12px;
}
