mixin header(name)
    nav.nav__wrapper
        ul.nav__list
            li(class=(name === "chat" ? "nav__item nav__item_active" : "nav__item"))
                a(href='../chat/chat.pug') Chat
            li(class=(name === "profile" ? "nav__item nav__item_active" : "nav__item"))
                a(href='../profile/profile.pug') Profile
            li(class=(name === "login" ? "nav__item nav__item_active" : "nav__item"))
                a(href=`../login/login.pug`) Login
            li(class=(name === "registration" ? "nav__item nav__item_active" : "nav__item"))
                a(href='../registration/registration.pug') Registration
            li(class=(name === "500" ? "nav__item nav__item_active" : "nav__item"))
                a(href='../500/500.pug') 500
            li(class=(name === "404" ? "nav__item nav__item_active" : "nav__item"))
                a(href='../404/404.pug') 404
