$separator-color: #eaeaea !default;
$light-blue: #3369f3 !default;
$white: #fff !default;
$gray-text: #999 !default;
$sidebar-background: #fbfbfb !default;
$light-gray: #efefef !default;
$red: #f00 !default;
$black: #1e1e1e !default;
$chat: #F8F8F8 !default;
