$blue: #3369f3 !default;
$gray: #999 !default;
$gray-200: #eaeaea !default;
$gray-150: #efefef !default;
$gray-100: #fbfbfb !default;
$white: #fff !default;
$red: #f00 !default;
$black: #1e1e1e !default;
