.message {
  margin-top: 10px;
  row-gap: 10px;
  background-color: #F8F8F8;
  width: 100%;
  position: relative;
  padding: 11px;
  grid-column: 1;
  grid-row: auto;
  border-radius: 0 12px 12px 12px;
}

.message_me {
  text-align: end;
  position: inherit;
  background-color: #e4edfd;
  grid-area: 3 / 2;
  display: flex;
  justify-content: flex-end;
  column-gap: 14px;
  justify-self: end;
  width: 25%;
  border-radius: 12px 12px 0 12px;
}

.message__text {
  font-size: .857rem;
  font-weight: 500;
}

.message__time {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font-weight: 500;
  font-size: .643rem;
  color: #999999;
}

.message__time_me {
  position: initial;
  display: flex;
  align-items: center;
  color: #3369F3;
}

.message-image {
  grid-column: 1;
  position: relative;
}

.message-image__img {
  border: 1px solid #EAEAEA;
  border-radius: 12px;
}

.message-image__time {
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 30px;
  bottom: 2%;
  color: #fff;
  font-size: .643rem;
  font-weight: 500;
  left: 55%;
  margin-right: -50%;
  padding: 2px 7px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}
