extends ./main

block nav
    nav.nav__wrapper
        ul.nav__list
            li.nav__item
                a(href='pages/chat/chat.pug') Chat
            li.nav__item
                a(href='pages/profile/profile.pug') Profile
            li.nav__item
                a(href=`pages/login/login.pug`) Login
            li.nav__item
                a(href='pages/registration/registration.pug') Registration
            li.nav__item
                a(href='pages/500/500.pug') 500
            li.nav__item
                a(href='pages/404/404.pug') 404
