@import url(./components/button/button.css);
@import url(./font/Inter/inter.css);
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.143rem;
  width: 280px; }
  .form label {
    color: #999999;
    display: flex;
    flex-direction: column;
    font-size: .643rem;
    font-weight: 500;
    text-align: start;
    width: 100%; }
    .form label input {
      border: 0;
      border-bottom: 1px solid #1767f1;
      font-size: .929rem;
      padding: .5rem 0; }
  .form button {
    background-color: #3369f3;
    border-radius: .571rem;
    color: #fff;
    font-size: .929rem;
    font-weight: 500;
    padding: 12px 70px; }

.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.429rem;
  justify-content: center;
  margin-top: 20px; }
  .nav__wrapper ul {
    column-gap: 10px;
    display: flex; }

.nav__item_active {
  color: #1767f1; }

.contact {
  border-top: 1px solid #EAEAEA;
  padding: 12px 0;
  display: flex;
  margin: 2px 0;
  cursor: pointer; }

.contact:last-child {
  border-bottom: 1px solid #EAEAEA; }

.contact_me {
  background-color: #E4EDFD; }

.contact__avatar {
  margin: 0 10px; }

.contact__content {
  display: grid;
  grid-template-columns: 20fr 0fr 1fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 4px; }

.contact__name {
  color: #1E1E1E;
  font-size: .929rem;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1; }

.contact__message {
  color: #999999;
  font-size: .857rem;
  font-weight: 500;
  grid-column: 1;
  grid-row: 2; }

.contact__time {
  color: #999999;
  font-size: .643rem;
  font-weight: 500;
  grid-column: 3;
  grid-row: 1;
  margin-right: 10px; }

.contact__counter {
  color: #fff;
  height: 20px;
  width: 20px;
  background-color: #3369f3;
  border-radius: 50%;
  grid-area: 2 / 3;
  place-self: end;
  font-size: .786rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-right: 10px; }

.message {
  margin-top: 10px;
  row-gap: 10px;
  background-color: #F8F8F8;
  width: 100%;
  position: relative;
  padding: 11px;
  grid-column: 1;
  grid-row: auto;
  border-radius: 0 12px 12px 12px; }

.message_me {
  text-align: end;
  position: inherit;
  background-color: #e4edfd;
  grid-area: 3 / 2;
  display: flex;
  justify-content: flex-end;
  column-gap: 14px;
  justify-self: end;
  width: 25%;
  border-radius: 12px 12px 0 12px; }

.message__text {
  font-size: .857rem;
  font-weight: 500; }

.message__time {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font-weight: 500;
  font-size: .643rem;
  color: #999999; }

.message__time_me {
  position: initial;
  display: flex;
  align-items: center;
  color: #3369F3; }

.message-image {
  grid-column: 1;
  position: relative; }

.message-image__img {
  border: 1px solid #EAEAEA;
  border-radius: 12px; }

.message-image__time {
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 30px;
  bottom: 2%;
  color: #fff;
  font-size: .643rem;
  font-weight: 500;
  left: 55%;
  margin-right: -50%;
  padding: 2px 7px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1; }

body {
  font-family: Inter, Roboto, Arial, serif;
  font-size: 14px;
  overflow: hidden; }

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
